{% extends "base.html.twig" %}

{% block body %}
    <div class="container" style="margin-top:30px;">


        <!--START STATS-WIDGET -->

        <div class="row">
            <!--START -RECENT-POSTS-WIDGET -->

            <div class="span6">
                <div class="widget_heading">
                    <h4>All Category <a href="{{ path("category") }}" class="btn btn-small"
                                     style="float: right; margin-top: -5px;">Add New Category</a></h4>

                </div>
                <div class="widget_container">
                    <ul class="unstyled">
                        {% for category in pagination %}

                            <li class="widget_recent_posts">


                                <div class="widget_rp_des">
                                    <h4>
                                        <a href="{{ path("category" , app.request.query.all|merge( {'category_id' : category.id} )) }}">{{ category.name }}</a></h4>


                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {# display navigation for pages - paginator_navigator #}
                    {% if pagination|length > 0 and paginator.getTotalPages() > 1 %}
                        {{ include('EmpaathyPressBookStoreBundle:Paginator:paginator_navigator.html.twig', {'paginator' : paginator}) }}
                    {% endif %}
                </div>
            </div>
            <div class="span6">
                <div class="widget_heading">
                    <h4>Book Form
                        <a href="#" class="btn btn-small" style="float: right; margin-top: -5px;"
                           onclick="$('.widget_container').find('form').submit();">Save</a>
                        <a href="{{ path("delete_category",app.request.query.all|merge({'category_id' : app.request.get("category_id") })  ) }}" class="btn btn-small" style="float: right; margin-top: -5px; margin-right: 5px;" onclick="return confirm('Are you sure?')">Delete</a>
                    </h4>

                </div>
                <div class="widget_container">
                    {{ form(book_form) }}
                </div>
            </div>


        </div>


        <!--END-RECENT-POSTS-WIDGET -->

        <style>
            .widget_container form {
                float: left;
                width: 50%;
            }
        </style>
    </div>
{% endblock %}
